body {
    color: #454545;
}

nav {
    background-color: #454545;
}

#customer {
    padding: 2.5rem 0 0 0;
}

#start-form input[name="email"] {
    display: none;
}

.message {
    max-width: 75%;
    margin: 1rem auto;
    padding: 0.75rem 1rem;
    box-shadow: none;
}

.left-align, .right-align {
    position: relative;
    z-index: 1;
}

.left-align:after, .right-align:after {
    position: absolute;
    content: '';
    display: block;
    transform: rotate(45deg);
    bottom: -0.5rem;
    width: 1rem;
    height: 1rem;
    z-index: 2;
}

.left-align {
    background-color: #d5d5d5;
    margin-left: 0;
}

.left-align:after {
    left: 1rem;
    background-color: #d5d5d5;
}

.right-align {
    background-color: #c9b67e;
    text-align: left;
    margin-right: 0;
}

.right-align:after {
    background-color: #c9b67e;
    right: 1rem;
}

.message.alert, .message.info {
    color: #fff;
    text-align: center;
}

.message.alert {
    background-color: #ff5252;
}

.message.info {
    background-color: #00bcd4;
}

.chat {
    float: left;
    width: calc(50% - 5rem);
    margin: 2.5rem;
}

.conversation {
    overflow-y: auto;
    max-height: 50vh;
}

#conversation p:first-child {
    margin-top: 0;
}

.card-title {
    color: #fff;
    background-color: #454545;
    text-align: center;
    padding: 0.5rem;
    display: block;
}
.offline {
    text-align: center;
}

#customer {
    max-height: 400px;
}

@media only screen and (max-width: 1024px) {
    .chat {
        float: none;
        width: 100%;
        margin: 2.5rem 0;
    }
}