#live-chat {
    position: fixed;
    background-color: #fff;
    width: 300px;
    right: 2.5rem;
    bottom: -450px;
    transition: all 0.3s ease-out;
    height: 450px;
    transform: translateY(0px);
    z-index: 9999;
    border-top-left-radius: 1rem;
}

#live-chat.active {
    transform: translateY(-450px);
}

#live-chat #online {
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    top: -3.4rem;
    right: 0;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    color: #343534;
}

#live-chat iframe {
    padding-top: 1rem;
    height: 100%;
}